*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/LunaticGUI/nbproject/private/
/LunaticGUI/commons/build/
/LunaticGUI/build/
/LunaticGUI/wrapper/build/
/LunaticGUI/res/build/
/LunaticGUI/gui/build/
/lunaticEngine/nbproject/private/
/LunaticGUI/gui/nbproject/private/
/LunaticGUI/wrapper/nbproject/private/
/LunaticGUI/commons/nbproject/private/