<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d %-5p %c %n%m%n</pattern>-->
            <pattern>%gray(%highlight(%-5level %logger{15})) - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <Append>false</Append>
        <File>${user.home}/Temp/logLunatic.txt</File>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>  
    <root level="WARN">
        <appender-ref ref="stdout"/>
        <!--<appender-ref ref="file"/>-->
    </root>
    <!--     TEST     -->
    <logger name="it.unibas.lunatic.test" level="DEBUG"/>
    <!--<logger name="it.unibas.lunatic.model.chase.commons.ChaseStats" level="DEBUG"/>-->
    <!--<logger name="speedy.persistence.relational.QueryStatManager" level="DEBUG"/>-->
    <!--<logger name="speedy.persistence.relational.QueryManager" level="DEBUG"/>-->

    <!--     MODEL     -->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.costmanager" level="INFO"/>-->
    <!--<logger name="it.unibas.lunatic.model.dependency.operators.AnalyzeDependencies" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chasemc.partialorder.AbstractPartialOrder" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.ChaseEGDEquivalenceClass" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.costmanager.nonsymmetric.StandardCostManager" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.costmanager.nonsymmetric.SimilarityToPreferredValueCostManager" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.costmanager.symmetric.StandardSymmetricCostManager" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.costmanager.symmetric.SimilarityToPreferredValueSymmetricCostManager" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.partialorder.FrequencyPartialOrder" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.costmanager.CostManagerUtility" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.CheckSatisfactionAfterUpgradesEGD" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.dependency.operators.CheckVariablesInExpressions" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.dependency.operators.FindVariableEquivalenceClasses" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.dependency.operators.GenerateSymmetricPremise" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.dependency.operators.NormalizeJoinsInEGDs" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.dependency.operators.BuildExtendedDependencies" level="DEBUG"/>-->

    <!--     ALGEBRA     -->
    <!--<logger name="speedy.model.algebra.Difference" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.Join" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.GroupBy" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.operators.mainmemory.InsertTuple" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.operators.BuildAlgebraTreeForPositiveFormula" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.operators.EvaluateExpression" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.operators.BuildAlgebraTreeForSymmetricEGD" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.operators.EvaluateExpression" level="DEBUG"/>-->
    <!--<logger name="speedy.model.dependency.operators.NormalizeDependency" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.operators.sql.AlgebraTreeToSQL" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.sql.GenerateTrigger" level="DEBUG"/>-->
    
    <!--     DBMS     -->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.dbms.SQLRunQuery" level="DEBUG"/>-->

    <!--     CHASE DE     -->
    <!--<logger name="it.unibas.lunatic.model.chase.chasede.operators.ChaseExtTGDs" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.mainmemory.MainMemoryInsertTuplesForTGDs" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.commons.ChaseDeltaDCs" level="DEBUG"/>-->

    <!--     CHASE MC     -->    
    <logger name="it.unibas.lunatic.model.chase.chasemc.costmanager" level="DEBUG"/>
    <logger name="it.unibas.lunatic.model.chase.chasemc.partialorder" level="DEBUG"/>
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.ChaseEGDEquivalenceClass" level="DEBUG"/>-->
    <logger name="it.unibas.lunatic.model.chase.chasemc.operators.ChaseSymmetricEGDEquivalenceClass" level="DEBUG"/>
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.costmanager.StandardCostManager" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.commons.EquivalenceClassUtility" level="TRACE"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.ChaseMCScenario" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.ChaseDeltaExtEGDs" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.partialorder.StandardPartialOrder" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.OccurrenceHandlerMC" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.CorrectCellGroupID" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.FindOriginalValuesForCellGroupCells" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.ChangeCell" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.mainmemory.BuildMainMemoryDeltaDB" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.cache.AbstractCacheManager" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.ChaseDeltaExtEGDs" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.ChaseDeltaExtTGDs" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.ChaseTGDEquivalenceClass" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.mainmemory.BuildMainMemoryDBForChaseStep" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.chase.chasemc.operators.CheckUnsatisfiedDependencies" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.model.dependency.operators.ReplaceConstantsWithVariables" level="DEBUG"/>-->
    <!--     Cache     -->
<!--    <logger name="it.unibas.lunatic.model.chase.chasemc.operators.cache.AbstractGreedyCacheManager" level="trace"/>
    <logger name="it.unibas.lunatic.model.chase.chasemc.operators.cache.GreedySingleStepJCSCacheManager" level="DEBUG"/>-->
    

    <!--     CHASE DED     -->
    <!--<logger name="it.unibas.lunatic.model.chase.chaseded.ChaseDEDScenarioGreedy" level="DEBUG"/>-->

    <!--     OTHERS     -->
    <!--<logger name="it.unibas.lunatic.ScriptUtility" level="DEBUG"/>-->
    <!--<logger name="it.unibas.lunatic.test.comparator.instances.CompareInstances" level="DEBUG"/>-->
    <!--<logger name="speedy.persistence.relational.PooledDbConnectionFactory" level="TRACE"/>-->
    
    <logger name="com.mchange" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
  
</configuration>